#add for board init.rc for recovery mode
import /init.recovery.common.rc
service logd /system/bin/logd
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram+passcred 0222 logd logd
    file /proc/kmsg r
    file /dev/kmsg w
    user logd
    group logd system package_info readproc
    capabilities SYSLOG AUDIT_CONTROL
    priority 10
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/system-background/tasks

on init
    mount_all /system/etc/recovery.tmpfsdata.fstab
    setprop sys.usb.config adb
    mkdir /dev/cpuset/system-background
    chmod 755 /system/bin/logd
    start logd
    mkdir /dev/binderfs
    chmod 0666 /dev/binder
    chmod 0666 /dev/hwbinder
    chmod 0666 /dev/vndbinder
    chmod 0755 /dev/binderfs
    mount pstore pstore /sys/fs/pstore
    symlink /vendor/firmware /system/etc/firmware
    setprop persist.sys.usb.config mtp,adb

# Mix device-specific information into the entropy pool
    copy /proc/cmdline /dev/urandom

on fs
# Sensor
    insmod /socko/mali_kbase.ko
    insmod /socko/adaptive-ts.ko
# Torch
    insmod /socko/sprd_flash_drv.ko
    insmod /socko/flash_ic_ocp8137.ko
    chown system system /sys/devices/virtual/torch/torch/torch_level
